/* First Tab */
.klick-sa-data {
    display: inline-block;
    width: 20%;
    float: left;
    background: #F68D22;
    padding: 20px;
    margin: 0 20px 0 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
}
.klick-sa-data h2 {
    color: #F68D22;
    display: inline-block;
    margin-top: 0;
    width: 100%;
    background: #034378;
    padding: 9px;
    box-sizing: border-box;
}

/* Tab wrapper  */
.klick-sa-tab-wrap .nav-tab-wrapper {
 margin: 14px 0px; 
 border-bottom: 1px solid #ccc;
}
.info{
	color: #0073aa;
	font-weight: bold;
}

#message_lbl{
	color: #F5821F;
}
#klick_sa_table_url{
	color : #1F4F7B;
	font-weight:  bold;
	font-size: 25px;
}

/*Log Listing Third tab*/
.klick-sa-log-listing{
	display: block;
}
.klick-sa-log-listing *{
	box-sizing: border-box;
}
.klick-sa-log-listing > h1{
	border-radius: 3px 3px 0 0;
	background: #fff;
	position: relative;
	border-bottom: 1px solid #dfdfdf;
	height: 38px;    	
	margin: 0;
    padding: 0px 10px;
    font-weight: bold;
    font-size: 13px;
    line-height: 38px;
    color: #333;
    text-shadow: 0px 1px 0px #fff;
    text-align: left;
    width: 100%;
    display: inline-block;
}
.klick-sa-log-listing-wrap{
	width: 100%;
	display: inline-block;
	background: #fff;
	padding: 15px;
	max-height: 500px;
	overflow: auto;
}
.klick-sa-log-listing-row{
	border: 1px solid #dedede;
	margin-top: 20px;
}
.klick-sa-log-listing-row:first-child{
	margin-top: 0;
}
.klick-sa-log-listing-row h1{
    margin: 0;
    padding: 0 8px;
    border-bottom: 1px solid #dedede;
    background: #f2f2f2;
    font-weight: normal;
    font-size: 14px;
    line-height: 34px;
    color: #333;
}
.klick-sa-log-listing-row h1 time{
    float: right;
    font-size: 12px;
    color: #555;
}
.klick-sa-log-listing-row h4{
	font-size: 11.5px;
    margin: 20px 0 -5px 10px;
    color: #444;
    text-transform: uppercase;
}
.klick-sa-log-listing-row ul{
	list-style: square;
    padding: 0 0 0 15px;
	margin: 10px 0 0 15px;
	color: #777;
}

/*Plugin List Second tab*/
.klick-sa-plugin-list{
	width: 100%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}
.klick-sa-plugin-list *{
	box-sizing: border-box;
}
.klick-sa-plugin-list li{
    width: auto;
    float: left;
    background: #F1F1F1;
    padding: 15px;
    border: 1px solid #CCCCCC;
    margin: 0 10px 20px;
    text-align: center;
}
.klick-sa-plugin-list li h4{
	margin: 5px 0 0 0;
}

/*Custom Button*/
.wp-core-ui .button.klick_btn,.wp-core-ui .button.klick_btn:hover,.wp-core-ui .button.klick_btn:active,.wp-core-ui .button.klick_btn:focus{
    font-size: 14px!important;
    height: 46px!important;
    line-height: 44px!important;
    padding: 0 36px!important;
    background: #F5821F!important;
    color: #fff!important;
    border-color: #f4780b #f4780b #c36009!important;
    -webkit-box-shadow: 0 1px 0 #f4780b !important;
	box-shadow: 0 1px 0 #f4780b !important;
    text-shadow: 0 -1px 1px #f4780b,1px 0 1px #f4780b,0 1px 1px #f4780b,-1px 0 1px #f4780b!important;
}
.wp-core-ui .button.klick_btn:disabled,.wp-core-ui .button.klick_btn[disabled]{
    opacity: 0.5;
}
